# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
backcall=0.2.0=pypi_0
ca-certificates=2022.12.7=ha878542_0
certifi=2016.9.26=py36_0
cloudpickle=2.2.1=pypi_0
cycler=0.11.0=pypi_0
decorator=5.1.1=pypi_0
entrypoints=0.4=pypi_0
gym=0.21.0=pypi_0
importlib-metadata=4.8.3=pypi_0
ipykernel=5.5.6=pypi_0
ipython=7.16.3=pypi_0
ipython-genutils=0.2.0=pypi_0
jedi=0.17.2=pypi_0
jupyter-client=7.1.2=pypi_0
jupyter-core=4.9.2=pypi_0
kiwisolver=1.3.1=pypi_0
ld_impl_linux-64=2.40=h41732ed_0
libffi=3.4.2=h7f98852_5
libgcc-ng=12.2.0=h65d4601_19
libgomp=12.2.0=h65d4601_19
libnsl=2.0.0=h7f98852_0
libsqlite=3.40.0=h753d276_0
libstdcxx-ng=12.2.0=h46fd767_19
libzlib=1.2.13=h166bdaf_4
matplotlib=3.3.4=pypi_0
ncurses=6.3=h27087fc_1
nest-asyncio=1.5.6=pypi_0
numpy=1.19.5=pypi_0
openssl=1.1.1t=h0b41bf4_0
parso=0.7.1=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=8.4.0=pypi_0
pip=20.0.2=py36_1
prompt-toolkit=3.0.36=pypi_0
ptyprocess=0.7.0=pypi_0
pygments=2.14.0=pypi_0
pyparsing=3.0.9=pypi_0
python=3.6.15=hb7a2778_0_cpython
python-dateutil=2.8.2=pypi_0
python_abi=3.6=2_cp36m
pyzmq=25.0.0=pypi_0
readline=8.1.2=h0f457ee_0
setuptools=49.6.0=py36h5fab9bb_3
six=1.16.0=pypi_0
sqlite=3.40.0=h4ff8645_0
tk=8.6.12=h27826a3_0
tornado=6.1=pypi_0
traitlets=4.3.3=pypi_0
typing-extensions=4.1.1=pypi_0
wcwidth=0.2.6=pypi_0
wheel=0.34.2=py36_0
xz=5.2.6=h166bdaf_0
zipp=3.6.0=pypi_0
